#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
{% from './templates/etc/nftables.d/defines.j2' import definemerged with context %}

{% for definition in definemerged.values() %}
  {% if definition.value is defined %}
    {% if definition.value != 'none' %}
      {% if definition.desc is defined %}
# {{ definition.desc }}
      {% else %}
# {{ definition.name }}
      {% endif %}
define {{ definition.name }} = {{ definition.value }}
    {% endif %}
  {% endif %}

{% endfor %}
