#jinja2: lstrip_blocks: True, trim_blocks: True
{{ ansible_managed | comment }}
{% set manglemerged = nft_mangle_default_rules.copy() %}
{% set _ = manglemerged.update(nft_mangle_rules) %}
{% set _ = manglemerged.update(nft_mangle_group_rules) %}
{% if nft_merged_groups and hostvars[inventory_hostname]['nft_combined_rules'].nft_mangle_group_rules is defined %}
  {% set _ = manglemerged.update(hostvars[inventory_hostname]['nft_combined_rules'].nft_mangle_group_rules) %}
{% endif %}
{% set _ = manglemerged.update(nft_mangle_host_rules) %}

chain mangle {
{% for group, rules in manglemerged|dictsort  %}

    # {{ group }}
  {% set rules = rules | reject('eq', '') | reject('eq', none) | reject('eq', omit) %}
  {% if not rules %}
    # (none)
  {% else %}
    {% for rule in rules %}
    {{ rule }}
    {% endfor %}
  {% endif %}
{% endfor %}

}
