#jinja2: lstrip_blocks: True, trim_blocks: True
{{ ansible_managed | comment }}
{% for chain,sections in nft_define_custom_chains.items() %}
  {% set custommerged = lookup('ansible.builtin.vars', sections[0]) %}
  {% for section in sections[1:] %}
    {% set _ = custommerged.update(lookup('ansible.builtin.vars', section)) %}
  {% endfor %}

chain {{ chain }} {
{% for group, rules in custommerged|dictsort  %}
  # {{ group }}
  {% if not rules %}
  # (none)
  {% endif %}
  {% for rule in rules %}
  {{ rule }}
  {% endfor %}
{% endfor %}
}
{% endfor %}