#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
{% from './templates/etc/nftables.d/defines.j2' import definemerged with context %}
{% set setmerged = nft_set_default.copy() %}
{% set _ = setmerged.update(nft_set) %}
{% set _ = setmerged.update(nft_set_group) %}
{% if nft_merged_groups and hostvars[inventory_hostname]['nft_combined_rules'].nft_set_group is defined %}
  {% set _ = setmerged.update(hostvars[inventory_hostname]['nft_combined_rules'].nft_set_group) %}
{% endif %}
{% set _ = setmerged.update(nft_set_host) %}

{% for def in definemerged %}
  {% set searchstr = '\$' ~ definemerged[def].name %}
  {% if definemerged[def].value is defined %}
    {% if definemerged[def].value != 'none' %}
      {% for set, rules in setmerged|dictsort  %}
        {% if rules %}
          {% if rules | select('search', searchstr ) %}
set {{ set }} {
            {% for rule in rules %}
	{{ rule }}
            {% endfor %}
}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
